.auth {
  height: 100dvh;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
  background-color: transparent;
}

.authContainer {
  position: relative;
  width: 380px;
  text-align: center;
  background: transparent;
  border-radius: var(--radius-md);
  padding: var(--spacing-lg);
  background-color: var(--color-surface);
}

@media screen and (min-width: 576px) {
  .authContainer {
    box-shadow: var(--elevation-1);
  }
}

@media screen and (min-width: 992px) {
  .authContainer {
    width: 420px;
  }
}
