.title {
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-sm-plus);
}

.authMethods {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.method {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--spacing-sm-plus);
}

.methodTitle {
  flex: 1;
}
