.landingPage {
  width: 100%;
  overflow-x: hidden;
}

.landingCta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-md);
  min-height: calc(50vh - var(--header-height));
  background: linear-gradient(
    180deg,
    var(--color-primary-container) 0%,
    var(--color-secondary-container) 100%
  );
  text-align: center;
}

.landingCtaContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}
