.setPasswordContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  text-align: center;
}

.setPasswordTitle {
  font-weight: var(--font-weight-medium);
}

.setPasswordFormBackendError {
  min-height: 1.5rem;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.setPasswordDescription {
  margin-block: var(--spacing-sm);
}
