.userProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--spacing-sm-plus);
  margin-inline: auto;
  max-width: 25rem;
  margin-block: var(--spacing-sm-plus);
}

.userProfileFormAvatar {
  margin-bottom: var(--spacing-md-plus);
}

.userProfileFormBackendError {
  min-height: 1rem;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.userProfileFormHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--spacing-md);
}

.userProfileFormFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);
}
