.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar:not(:first-child),
.avatarMore {
  margin-left: calc(-1 * var(--spacing-sm));
  border-radius: 50%;
}

.avatarMore {
  display: grid;
  place-items: center;
  padding: var(--spacing-sm);
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
  width: 2.5rem;
  height: 2.5rem;
}
