.loginForm,
.loginContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.loginForgot {
  display: block;
  width: max-content;
  margin-right: auto;
  font-weight: var(--font-weight-medium);
  color: var(--color-surface-tint);
  transition: color var(--transition-base);
}

.loginForgot:hover {
  color: var(--color-on-surface);
}

.loginButton {
  margin-block: var(--spacing-xl);
}

.loginError {
  color: var(--color-error);
  padding-block: 0 var(--spacing-sm-plus);
  font-weight: var(--font-weight-bold);
}
