.loginSocial {
  margin-bottom: var(--spacing-md);
}

.loginSocialTitle {
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.loginSocialLinks {
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-sm-plus);
}

.loginSocialLink {
  background-color: var(--color-surface);
  padding: var(--spacing-sm);
  box-shadow: var(--elevation-2);
  border-radius: var(--radius-sm);
  display: grid;
  place-items: center;
  transition: transform var(--transition-slow);
}

.loginSocialLink:hover {
  transform: translateY(calc(-1 * var(--spacing-xs)));
}
