# Compilation files
dist/

# Node dependencies
node_modules/

# Local configuration files
.env
.env.preview
.env.production

# Editor directories and files
.github/instructions/
.vscode/

# testing coverage
coverage/

