.calendarEvents {
  --events-header-height: 3rem;
  --calendar-events-empty-height: 7rem;
  --max-calendar-events-height: 48rem;
  --min-calendar-events-height: 10rem;
  --height: 48rem;

  margin-block: var(--spacing-md) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: var(--max-calendar-events-height);
  min-height: var(--min-calendar-events-height);
}

.calendarEventsHeader {
  width: 100%;
  color: var(--color-on-surface-variant);
  background: linear-gradient(
    to right,
    transparent,
    5%,
    var(--color-surface-variant),
    95%,
    transparent
  );
  font-weight: var(--font-weight-medium);
  min-height: var(--events-header-height);
  padding-inline: var(--spacing-md-plus);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventsTimeline {
  min-height: var(--events-timeline-height);
  padding-block: var(--spacing-md);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-lg);
  flex: 1;
  --fade-height: 1rem;

  mask-image: linear-gradient(
    to bottom,
    var(--color-surface) calc(100% - var(--fade-height)),
    transparent 100%
  );
}

.calendarEventsEmpty,
.eventsTimelineEmpty {
  height: var(--events-timeline-empty-height);
  color: var(--color-on-surface-variant);
}

@media screen and (min-width: 950px) {
  .calendarEvents {
    position: absolute;
    top: 4%;
    bottom: 5%;
    right: 0;
    width: 40%;
  }
}
