.detail {
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm-plus);
}

.header {
  border-bottom: var(--stroke-width-1) solid var(--color-outline);
  padding-block: var(--spacing-sm);
  display: flex;
  column-gap: var(--spacing-sm);
  align-items: center;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.title {
  font-weight: var(--font-weight-bold);
}

.message {
  color: var(--color-on-surface-variant);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: var(--spacing-sm);
}
