.event {
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
  border-radius: var(--spacing-md);
  padding: var(--spacing-md-plus);
  gap: var(--spacing-sm-plus) var(--spacing-xs);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 95%;
  animation: fadeSlideIn 0.3s both;
  overflow-y: hidden;
}

.eventSmall {
  transition:
    z-index 0s,
    box-shadow var(--transition-base);
  z-index: var(--z-normal);
}

.eventSmall:hover {
  min-height: fit-content;
  z-index: var(--z-fixed);
  box-shadow: var(--elevation-3);
  overflow-y: visible;
  mask-image: none;
}

/* Ensure that the content is not cut off when expanding */
.eventSmall:hover .eventBody {
  overflow: visible;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.eventCompleted .eventBody {
  filter: blur(2px) contrast(50%);
  transition: filter var(--transition-base);
  cursor: none;
  pointer-events: none;
}

.eventStart {
  mask-image: linear-gradient(to bottom, var(--color-surface) calc(100% - 1rem), transparent 100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.eventEnd {
  mask-image: linear-gradient(to top, var(--color-surface) calc(100% - 1rem), transparent 100%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  max-width: 75%;
}

.eventCompleted .titleText {
  text-decoration: line-through;
}

.eventCompleted .textCompleted {
  margin-left: var(--spacing-sm);
}

.statusBtn {
  color: var(--color-outline);
  border: var(--stroke-width-2) solid var(--color-outline);
}

.statusIcon {
  color: var(--color-outline);
}

.statusBtnCompleted {
  color: var(--color-on-secondary-container);
  border: var(--stroke-width-2) solid var(--color-on-secondary-container);
}

.statusBtnCompleted .statusIcon {
  color: var(--color-on-secondary-container);
}

.eventBody {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.eventNotes {
  color: var(--color-on-surface-variant);
  margin-top: var(--spacing-md-plus);
}

.collaboratorsWrapper {
  display: flex;
  column-gap: var(--spacing-md-plus);
  align-items: center;
  justify-content: space-between;
}

.collaborators {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-sm);

  & .collaboratorsLabel {
    font-weight: var(--font-weight-medium);
  }
}

.phoneBtn {
  align-self: flex-end;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.collaboratorsWrapper,
.collaboratorsEmpty {
  padding: var(--spacing-md);
  border-radius: var(--spacing-md);
  border: var(--stroke-width-1) dashed var(--color-on-surface-variant);
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-variant);
  height: max-content;
  box-shadow:
    inset 0 2px 6px var(--shadow-ambient-color),
    inset 0 -2px 6px var(--shadow-ambient-color);
}

.collaboratorsEmpty {
  display: grid;
  place-items: center;
}

/* Hide follow button by default to prevent overlap in small events */
.followBtn {
  display: none;
}

.event:hover .followBtn {
  display: flex;
  position: absolute;
  right: var(--spacing-md);
  bottom: var(--spacing-xl);
  box-shadow: var(--elevation-3);
}

.followIcon {
  transition: transform var(--transition-base);
}

.followBtn:hover .followIcon {
  transform: translateX(var(--spacing-sm));
}
