.taskEditPage {
  display: flex;
  justify-content: center;
}

.taskEditContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 100%;
  max-width: 30rem;
}

.taskEditHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.taskEditTitle {
  font-size: var(--font-headline-md-size);
  font-weight: var(--font-weight-medium);
}

.taskEditSubtitle {
  color: var(--color-on-surface-variant);
}

.taskEditInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm-plus);
  margin-bottom: var(--spacing-xl);
}

/* Read Mode Input*/
.readableTitle {
  font-size: var(--font-headline-md-size);
  line-height: var(--font-headline-md-height);
  font-weight: var(--font-headline-md-weight);
  letter-spacing: var(--font-headline-md-space);
}

/* Edit Mode Input*/
.editableTitle {
  font-size: var(--font-headline-md-size); /* DEBE coincidir con el de arriba */
  font-weight: var(--font-headline-md-weight);
}
