.modal {
  --modal-width: 400px;

  background-color: var(--color-surface);
  color: var(--color-on-surface);
  width: var(--modal-width);
  inset: 0;
  margin: auto;
  border: none;
  border-radius: var(--radius-sm);
  pointer-events: auto;
  box-shadow: var(--elevation-3);
  /* animation */
  opacity: 0;
  transition:
    display 0.3s allow-discrete,
    overlay 0.3s allow-discrete,
    translate 0.3s,
    opacity 0.3s;
  translate: 0 50%;
  will-change: translate, opacity;
}

.modal[open] {
  opacity: 1;
  translate: 0;

  @starting-style {
    opacity: 0;
    translate: 0 50%;
  }
}

.modal::backdrop {
  background: var(--color-scrim);
  opacity: 1;
  transition:
    display 0.3s allow-discrete,
    opacity 0.3s;

  @starting-style {
    opacity: 0;
  }
}

.modal:not([open])::backdrop {
  opacity: 0;
}

.modalTitle {
  text-align: center;
}

.modalBody {
  width: 100%;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--spacing-2xl) var(--spacing-xl);
  padding-inline: var(--spacing-xl);
}

.modalButtonClose {
  position: absolute;
  top: var(--spacing-sm-plus);
  right: var(--spacing-sm-plus);
}
