.calendarLayout {
  display: flex;
  gap: var(--spacing-sm-plus);
  min-height: 100%;
  overflow: hidden;
}

.calendarLayoutContent {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  .calendarLayoutContent {
    padding-inline: var(--spacing-md);
  }
}
