.eventCard {
  --card-list-height: 7rem;
  --card-list-scrollable-height: 25vh;
}

.eventCardList {
  padding: var(--spacing-md);
  border: var(--stroke-width-2) dashed var(--color-outline);
  border-radius: var(--spacing-md);
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.2),
    inset 0 -2px 6px rgba(0, 0, 0, 0.2);
  min-height: var(--card-list-height);
  margin-block: var(--spacing-md-plus);

  transition: background-color var(--transition-base);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
}

.eventCardListScrollable {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: var(--card-list-scrollable-height);
  row-gap: var(--spacing-sm);
  padding: var(--spacing-sm);
}

.eventCardListEmpty {
  color: var(--color-outline);
  text-align: center;
  margin-block: var(--spacing-sm-plus);
}

[data-theme='dark'] .eventCardList {
  box-shadow:
    inset 0 4px 8px black,
    inset 0 -2px 6px black;
}

@media screen and (min-width: 576px) {
  .eventCardListScrollable {
    --card-list-scrollable-height: 17.5rem;

    max-height: var(--card-list-scrollable-height);
  }
}
