.registerForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.registerButton {
  margin-block: var(--spacing-lg);
}

.registerError {
  color: var(--color-error);
  padding-block: 0 var(--spacing-sm-plus);
  font-weight: var(--font-weight-bold);
}

.registerSwitch {
  display: flex;
  gap: var(--spacing-xs);
  justify-content: center;
}

.registerSwitch a {
  font-weight: var(--font-weight-bold);
}
