.calendarPage {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

@media screen and (min-width: 950px) {
  .calendarPage {
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: start;
  }
}
