.event {
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
  border-radius: var(--spacing-md);
  padding: var(--spacing-md-plus);
  gap: var(--spacing-sm-plus) var(--spacing-xs);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 95%;
  animation: fadeSlideIn var(--transition-slow) both;
  overflow-y: auto;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.eventCompleted .eventBody {
  filter: blur(2px) contrast(50%);
  transition: filter var(--transition-base);
  cursor: none;
  pointer-events: none;
}

.eventStart {
  mask-image: linear-gradient(to bottom, var(--color-surface) calc(100% - 1rem), transparent 100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.eventEnd {
  mask-image: linear-gradient(to top, var(--color-surface) calc(100% - 1rem), transparent 100%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  max-width: 75%;
}

.eventCompleted .titleText {
  text-decoration: line-through;
}

.eventCompleted .textCompleted {
  margin-left: var(--spacing-sm);
}

.statusBtn {
  color: var(--color-outline);
  border: var(--stroke-width-2) solid var(--color-outline);
}

.statusIcon {
  color: var(--color-outline);
}

.statusBtnCompleted {
  color: var(--color-on-secondary-container);
  border: var(--stroke-width-2) solid var(--color-on-secondary-container);
}

.statusBtnCompleted .statusIcon {
  color: var(--color-on-secondary-container);
}

.eventBody {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.eventNotes {
  color: var(--color-on-surface-variant);
  margin-top: var(--spacing-md-plus);
}

.collaboratorsWrapper {
  display: flex;
  column-gap: var(--spacing-md-plus);
  align-items: center;
  justify-content: space-between;
}

.collaborators {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-sm);

  & .collaboratorsLabel {
    font-weight: var(--font-weight-medium);
  }
}

.phoneBtn {
  align-self: flex-end;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.collaboratorsEmpty {
  color: var(--color-on-surface-variant);
}

.followBtn {
  position: absolute;
  right: var(--spacing-md);
  bottom: var(--spacing-xl);
}

.followIcon {
  transition: transform var(--transition-base);
}

.followBtn:hover .followIcon {
  transform: translateX(var(--spacing-sm));
}
