.changePasswordContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  text-align: center;
}

.changePasswordTitle {
  font-weight: var(--font-weight-medium);
}

.changePasswordFormBackendError {
  min-height: 1.5rem;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.changePasswordDescription {
  margin-block: var(--spacing-sm);
}
