.resetPasswordError {
  color: var(--color-error);
  height: var(--spacing-lg);
  vertical-align: middle;
  font-weight: var(--font-weight-bold);
}

.resetPasswordActions {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-sm);
}
