/* ==================== BACKDROP (MOBILE) ==================== */
.sidebarBackdrop {
  position: fixed;
  inset: 0;
  background-color: var(--color-surface-hsla);
  z-index: var(--z-fixed);
  height: 100%;
  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ==================== SIDEBAR BASE MOBILE==================== */
.sidebarCollapsed {
  padding: 0;

  .sidebarLink {
    justify-content: center;
    width: 4rem;
    height: 4rem;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-xs);
    padding: var(--spacing-xs);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-surface);
  z-index: var(--z-modal);
  transform: translateX(0);
  transition:
    transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;

  width: var(--sidebar-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-lg);
  padding-top: var(--spacing-md);
  padding-inline: var(--spacing-md-plus);
}

.sidebar.sidebarCollapsed {
  transform: translateX(-100%);
}

/* ==================== NAVIGATION ==================== */
.sidebarNav {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
}

.sidebarLink {
  display: flex;
  align-items: center;
  padding-block: var(--spacing-sm-plus);
  padding-inline: var(--spacing-md-plus);
  column-gap: var(--spacing-md);
  border-radius: var(--radius-sm);
  color: var(--color-on-surface);
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.sidebarLink:hover {
  background-color: var(--color-surface-variant);
}

.sidebarLinkActive {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}

.sidebarText {
  font-size: var(--font-title-sm-size);
}

/* ==================== DESKTOP ==================== */

@media screen and (min-width: 992px) {
  .sidebar {
    margin-top: var(--spacing-sm);
    position: relative;
    transform: none;
    flex-shrink: 0;
    transition: width 0.3s ease-in-out;
    padding: 0;
  }

  .sidebar.sidebarCollapsed {
    transform: none;
    width: var(--sidebar-collapsed-width);
  }

  .sidebarCollapsed .sidebarLink {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-xs);
    padding: var(--spacing-xs);
    height: 4.5rem;
  }

  .sidebarCollapsed .sidebarText {
    font-size: var(--font-label-sm-size);
  }

  .sidebarBackdrop {
    display: none;
  }
}
