.tableContainer {
  --min-width-table: 900px;
  --min-height-table-container: 350px;
  --table-row-height: 3.5rem;

  display: flex;
  flex-direction: column;
  min-height: var(--min-height-table-container);
  overflow-x: auto;
}

.table {
  min-width: var(--min-width-table);
  display: flex;
  flex-direction: column;
  border: var(--stroke-width-2) solid var(--color-outline);
  border-radius: var(--radius-md);
}

.tableHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-variant);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.tableHeadRow {
  display: flex;
  justify-content: space-between;
}

.tableHeader {
  gap: var(--spacing-xs);
  height: var(--spacing-2xl);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.tableBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--table-row-height);

  &:nth-child(odd) {
    background-color: var(--color-secondary-container);
  }

  &:last-child {
    border-radius: 0 0 var(--radius-md) var(--radius-md);
  }
}

.tableHeadRow,
.tableBodyRow:not(:last-child) {
  border-bottom: var(--stroke-width-1) solid var(--color-outline);
}

.tableBodyData {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: var(--spacing-sm);
}

.tableHeader:not(:last-child),
.tableBodyData:not(:last-child) {
  border-right: var(--stroke-width-1) solid var(--color-outline);
}

.tableActionBtn {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
