.taskFormBackendError {
  min-height: 1rem;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.taskFormHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--spacing-md);
}

.taskForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--spacing-sm-plus);
  margin-inline: auto;
  max-width: 25rem;
  margin-block: var(--spacing-sm-plus);
}

.taskFormTitle {
  text-align: center;
}

.taskFormFieldset {
  all: unset;
}

.taskFormFieldsetReadonly {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.taskFormFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
  margin-top: var(--spacing-2xl);
}
