@import './styles/reset.css';
@import './styles/fonts.css';

@import './styles/tokens/colors-light.css';
@import './styles/tokens/colors-dark.css';
@import './styles/tokens/typography.css';
@import './styles/tokens/spacing.css';
@import './styles/tokens/styles.css';

@import './styles/browser-fixes.css';
@import './styles/utilities.css';
@import './styles/base.css';
