.loginForm,
.loginContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.loginForgot {
  display: block;
  width: max-content;
  margin-right: auto;
  font-weight: var(--font-weight-medium);
  color: var(--color-surface-tint);
  transition: color var(--transition-base);
}

.loginForgot:hover {
  color: var(--color-on-surface);
}

.loginButton {
  margin-block: var(--spacing-xl);
}

.loginSocial {
  margin-bottom: var(--spacing-md);
}

.loginSocialTitle {
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.loginSocialImg {
  width: 1rem;
}

.loginSocialLinks {
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-sm-plus);
}

.loginSocialLink {
  background-color: var(--color-surface);
  padding: var(--spacing-sm);
  box-shadow: var(--elevation-2);
  border-radius: var(--radius-sm);
  display: grid;
  place-items: center;
  transition: transform var(--transition-slow);
}

.loginSocialLink:hover {
  transform: translateY(calc(-1 * var(--spacing-xs)));
}

.loginSwitch a {
  font-weight: var(--font-weight-bold);
}

.loginError {
  color: var(--color-error);
  padding-block: 0 var(--spacing-sm-plus);
  font-weight: var(--font-weight-bold);
}
