.dropZone {
  position: relative;
  border-radius: var(--radius-sm);
}

.dropZone::before {
  content: '';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  color: var(--color-on-surface);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-base);
  z-index: var(--z-normal);
}

.dropZoneEvent.dropZoneActive::before {
  opacity: 0.7;
  background-color: var(--color-outline);
  outline: var(--stroke-width-2) dashed var(--color-on-surface);
}

.dropZoneEvent.dropZoneOver::before {
  opacity: 0.9;
  background-color: var(--color-outline);
  outline: var(--stroke-width-2) solid var(--color-on-surface);
}

.dropZoneTrash.dropZoneActive::before {
  opacity: 0.7;
  background-color: var(--color-outline);
  border: var(--stroke-width-2) dashed var(--color-outline-variant);
}

.dropZoneTrash.dropZoneOver::before {
  opacity: 0.9;
  background-color: var(--color-outline);
  border: var(--stroke-width-2) solid var(--color-outline-variant);
}

.dropZoneContent {
  z-index: var(--z-normal);
  text-align: center;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
